<% if !user_signed_in? %> 
  <div class="jumbotron">
    <h1>Find, Rate and Share Free Yoga Videos </h1>
    <p><%= link_to "Sign up to contribute", new_user_registration_path, class: 'btn btn-primary btn-lg'%></p>
  </div>
<% end %> 

<div class="row"> 
  <% @videos.each do |v| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag v.image.url(:medium), class: 'image'), v %>
        <h2><%= v.name %> </h2>
      </div>
    </div>
  <% end %>
</div> 

<%= link_to 'New Video', new_video_path %>
